configuration {
    modi: "drun";
    show-icons: true;
    drun-display-format: "{name}";
    display-drun: " Applications";
    font: "JetBrainsMono Nerd Font 12";
    matching: "fuzzy";
    sort: true;
}


@theme "/home/ave/.config/rofi/theme.rasi"
